
// Font.
$font: (
  primary: ("Lato", Helvetica, Arial, sans-serif),
  monospace: (Monaco, courier, monospace)
);

// Palette.

$palette: (
  primary:           #424b5f,
  secondary:         #283040,
  meta:              #67758d,
  border:            #dee5ef,
  bg:                #f7f9fb,
  note:              #fcb41d,
  important:         #fc381d,
  accent:            getPaletteKey(accent1),
  accent-alt:        getPaletteKey(accent2),
);

@import "imports/functions";

@import "../../static/assets/css/fontawesome.min.css";
@import "../../static/assets/css/brands.min.css";

@import "imports/reset";
@import "imports/general";
@import "imports/icons";
@import "imports/animations";
@import "imports/structure";
@import "imports/header";
@import "imports/posts-pages";
//@import "imports/post-navigation";
@import "imports/docs";
@import "imports/sections";
@import "imports/footer";
//@import "imports/prism";

details {
  margin: 0 .5rem .5rem .5rem;
  background: _palette(bg);
  box-shadow: 0 .1rem 1rem -.5rem rgba(0,0,0,.4);
  border-radius: 5px;
  overflow: hidden;

  > * {
    padding: .5rem;
  }
}

summary {
  padding: 1rem;
  display: block;
  background: getPaletteKey(accent1);
  color: white;
  padding-left: 2.2rem;
  position: relative;
  cursor: pointer;
  user-select: none;
}

summary:before {
  content: '';
  border-width: .4rem;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 1.3rem;
  left: 1rem;
  transform: rotate(0);
  transform-origin: .2rem 50%;
  transition: .25s transform ease;
}

/* THE MAGIC 🧙‍♀️ */
details[open] > summary:before {
  transform: rotate(90deg);
}

details summary::-webkit-details-marker {
  display:none;
}

details > ul {
  padding-bottom: 1rem;
  margin-bottom: 0;
}